[submodule "Vendor/Glfw"]
	path = Vendor/Glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendor/nanovg"]
	path = Vendor/nanovg
	url = https://github.com/memononen/nanovg
[submodule "Vendor/yoga"]
	path = Vendor/yoga
	url = https://github.com/facebook/yoga
[submodule "Vendor/tinyxml2"]
	path = Vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2
